{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}



{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <p class="text-center text-primary mt-4">Welcome to the server management panel! This is where you can have complete control over your server. From here, you can manage settings, user accounts, system monitoring, and many other tasks.</p>
            </div>
        </div>
    </div>

    
    


{% endblock %}